html {
    font-size: 20px
}

.foot_margin_top {
    margin-top: 2rem;
}

.content_bg {
    background-color: white;
    padding-top: 2.5rem;
}

.title_top {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.nav_list {
    height: 10rem;
}